{#
SPDX-FileCopyrightText: 2026 Damián Búho <damian.buho@proton.me>

SPDX-License-Identifier: MIT
#}

charset                 {{ ENV.O9S_NGINX_CHARSET }};
charset_types           {{ ENV.O9S_NGINX_CHARSET_TYPES }};
