{#
SPDX-FileCopyrightText: 2026 Damián Búho <damian.buho@proton.me>

SPDX-License-Identifier: MIT
#}

keepalive_requests  {{ ENV.O9S_NGINX_KEEPALIVE_REQUESTS }};
keepalive_timeout   {{ ENV.O9S_NGINX_KEEPALIVE_TIMEOUT }};
