# SPDX-FileCopyrightText: 2026 Damián Búho <damian.buho@proton.me>
#
# SPDX-License-Identifier: MIT

# Full access_log directive value: "off" disables, "path format" selects a log_format
access_log      {{ ENV.O9S_NGINX_ACCESS_LOG }};
