{#
SPDX-FileCopyrightText: 2026 Damián Búho <damian.buho@proton.me>

SPDX-License-Identifier: MIT
#}

{% if ENV.O9S_NGINX_NEGOTIATE_MARKDOWN == "Y" or ENV.O9S_NGINX_NEGOTIATE_AVIF == "Y" or ENV.O9S_NGINX_NEGOTIATE_WEBP == "Y" %}
# Separate cache variants for each negotiated representation.
add_header Vary "Accept" always;
{% endif %}
