{#
SPDX-FileCopyrightText: 2026 Damián Búho <damian.buho@proton.me>

SPDX-License-Identifier: MIT
#}

# Fastly IPs and real_ip_header
real_ip_header {{ header }};
{% for ip in ips %}set_real_ip_from {{ ip }};
{% endfor %}
