{#
SPDX-FileCopyrightText: 2026 Damián Búho <damian.buho@proton.me>

SPDX-License-Identifier: MIT
#}

root {{ ENV.O9S_NGINX_PUBLIC_PATH }};

index index.php;

{% if ENV.O9S_NGINX_PHP_ENTRY_POINTS | trim != "" %}
{% for _entry in (ENV.O9S_NGINX_PHP_ENTRY_POINTS | replace('"', '') | replace("'", '') | trim | split(",")) %}
{% if _entry | trim != "" %}
location = /{{ _entry | trim }}.php {
    set            $backend "{{ ENV.O9S_NGINX_FASTCGI_BACKEND_HOST | default('backend-host.invalid', true) }}:{{ ENV.O9S_NGINX_FASTCGI_BACKEND_PORT | default('9000', true) }}";
    include       includes/fastcgi/common.nginx;
    fastcgi_pass  $backend;
}

{% endif %}
{% endfor %}
location ~ \.php$ {
    deny all;
    return 403;
}

{% else %}
location ~ \.php$ {
    set            $backend "{{ ENV.O9S_NGINX_FASTCGI_BACKEND_HOST | default('backend-host.invalid', true) }}:{{ ENV.O9S_NGINX_FASTCGI_BACKEND_PORT | default('9000', true) }}";
    include       includes/fastcgi/common.nginx;
    fastcgi_pass  $backend;
}

{% endif %}
location / {
    try_files     $uri /index.php$is_args$args;
}
