{#
SPDX-FileCopyrightText: 2026 Damián Búho <damian.buho@proton.me>

SPDX-License-Identifier: MIT
#}

add_header Content-Security-Policy "{{ ENV.O9S_NGINX_CSP_UPGRADE_INSECURE_REQUESTS }} {{ ENV.O9S_NGINX_CSP_BLOCK_ALL_MIXED_CONTENT }} {{ ENV.O9S_NGINX_CSP_SANDBOX }} {{ ENV.O9S_NGINX_CSP_REQUIRE_TRUSTED_TYPES_FOR }} base-uri {{ ENV.O9S_NGINX_CSP_BASE_URI }}; child-src {{ ENV.O9S_NGINX_CSP_CHILD_SRC }}; connect-src {{ ENV.O9S_NGINX_CSP_CONNECT_SRC }}; default-src {{ ENV.O9S_NGINX_CSP_DEFAULT_SRC }}; font-src {{ ENV.O9S_NGINX_CSP_FONT_SRC }}; form-action {{ ENV.O9S_NGINX_CSP_FORM_ACTION }}; frame-ancestors {{ ENV.O9S_NGINX_CSP_FRAME_ANCESTORS }}; frame-src {{ ENV.O9S_NGINX_CSP_FRAME_SRC }}; img-src {{ ENV.O9S_NGINX_CSP_IMG_SRC }}; manifest-src {{ ENV.O9S_NGINX_CSP_MANIFEST_SRC }}; media-src {{ ENV.O9S_NGINX_CSP_MEDIA_SRC }}; object-src {{ ENV.O9S_NGINX_CSP_OBJECT_SRC }}; script-src {{ ENV.O9S_NGINX_CSP_SCRIPT_SRC }}; style-src {{ ENV.O9S_NGINX_CSP_STYLE_SRC }}; worker-src {{ ENV.O9S_NGINX_CSP_WORKER_SRC }};" always;
