{#
SPDX-FileCopyrightText: 2026 Damián Búho <damian.buho@proton.me>

SPDX-License-Identifier: MIT
#}

{% if ENV.O9S_NGINX_COEP_REPORT_ONLY %}add_header Cross-Origin-Embedder-Policy-Report-Only $o9s_nginx_coep always;{% else %}add_header Cross-Origin-Embedder-Policy $o9s_nginx_coep always;{% endif %}
